.page404Root {
  .page404 {
    height: 60vh;
  }

  .heroSection {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    padding-bottom: 100px;
    height: 100%;

    .heroText {
      display: flex;
      align-self: center;
      justify-content: center;
      width: 715px;
      font-size: 60px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 1.8px;
      text-align: center;
    }

    .heroSubtitle {
      display: flex;
      align-self: center;
      justify-content: center;
      width: 427px;
      opacity: 0.7;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.19;
      letter-spacing: normal;
      text-align: center;
    }
  }
}